{% load static %}

<head>
  <meta charset="utf-8">
  <title>ARAR DỊCH VỤ</title>
  <link href="{% static 'QRcodes/img/file_moi/ararlogo-preview.png' %}" rel="icon">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'QRcodes/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'QRcodes/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'QRcodes/css/style.css'%}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'QRcodes/img/file_moi/ararlogo-preview.png' %}" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="{% static 'QRcodes/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/css/variables.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/css/main.css' %}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords"
    content="INTUITIVE, Your design is your passion, Key Features, Pricing Plan, Empire State Building">
  <meta name="description" content="">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- SweetAlert2 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>

  <link rel="stylesheet" href="{% static 'QRcodes/css/nicepage.css' %}" media="screen">

  <script class="u-script" type="text/javascript" src="{% static 'QRcodes/js/jquery.js' %}" defer=""></script>
  <script class="u-script" type="text/javascript" src="{% static 'QRcodes/js/nicepage.js' %}" defer=""></script>
  <meta name="generator" content="Nicepage 5.11.4, nicepage.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

  <script class="u-script" type="text/javascript" src="{% static 'QRcodes/js/jquery.js' %}" defer=""></script>
  <script class="u-script" type="text/javascript" src="{% static 'QRcodes/js/nicepage.js' %}" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  <meta charset="utf-8">
  <meta name="keywords" content="INTUITIVE, Your design is your passion, Key Features, Pricing Plan, Empire State Building">
  <meta name="description" content="">
  <link rel="stylesheet" href=" {% static 'QRcodes/css/nicepage_2.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'QRcodes/css/Page-2.css' %}" media="screen">
  <script class="u-script" type="text/javascript" src=" {% static 'QRcodes/js/jquery_2.js' %}" defer=""></script>
  <script class=" u-script" type="text/javascript" src="{% static 'QRcodes/js/nicepage_2.js' %}" defer=""></script>
  <meta name=" generator" content="Nicepage 5.11.4, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900">

  <link href="{% static 'QRcodes/css/main.css' %}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">

  <script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "",
  "logo": "images/ararlogo.png"
}</script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="Page 1">
  <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
  <style>

  </style>
</head>



<header style="background: #bb302a; height: 180px;" id="header">
  <div class="container">
    <div class="row">
      <div class="col-2 logo float-left">
        <a href="{% url 'customer:trang-chu' %}" class="scrollto"><img
            src="{% static 'QRcodes/img/file_moi/ararlogo-preview.png' %}" alt="" class="img-fluid"></a>
      </div>
      <div style="width:80px;  " class="col-8 text-center">
        <a href="{% url 'customer:trang-chu' %}" class="scrollto">
          <img style="border: none; height: 150px; margin: auto;" src="{% static 'QRcodes/img/file_moi/bienhieu.jpg' %}"
            alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-2 logo float-right">
        <a href="{% url 'customer:trang-chu' %}" class="scrollto"><img style="max-height: 100px; margin: 40px;"
            src="{% static 'QRcodes/img/file_moi/logochuxanh.png' %}" alt="" class="img-fluid"></a>
      </div>
    </div>
  </div>
</header>


<style>
    .custom-container {
    max-width: 1400px;
    /* Đặt chiều rộng tùy chọn, có thể thay đổi giá trị theo ý muốn */
    margin: 0 auto;
    /* Căn giữa container */
  }
  .col-md-12,
  .col-lg-12 {
    
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .box_1 {
    background-size: cover;
    border: 5px solid #000000;
    height: 200px;
    position: relative;
    width: 100%; /* Thay đổi kích thước theo nhu cầu của bạn */
    max-width: 1400px; /* Giới hạn kích thước tối đa */
    margin: 0 auto; /* Canh giữa theo chiều ngang */
  }

  .title {
    margin: 20px; /* Giảm khoảng cách */
  }

  .inner-frame {
    position: absolute;
    right: 7%;
    bottom: 1079px;
    left: 14%;
    border: 2px solid #000000;
    border-top-style: hidden;
    border-left-style: hidden;
    height: 60%;
    pointer-events: none; 
  }
  .inner-frame::before {
    content: "";
    position: absolute;
    right: -12px; /* Width of the right edge and arrow */
    width: 22px; /* Set the total width of the right edge and arrow */
    height: 22px; /* Set the height of the arrow */
    margin-top: -11px; /* Half of the arrow's height to center it */
    background-color: #000000; /* Color of the right edge and arrow */
    clip-path: polygon(100% 0, 100% 100%, 0 50%); /* Define the arrow shape */
    transform: translateY(-50%) rotate(90deg);
    pointer-events: none; /
  }
  
  .service-description {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin: -5px !important;
}
  
</style>


<section style="background-image: url('{{ thoi_gian_1.image.url }}');" id="services" class="section-bg">
  <div class="container-fluid custom-container">
    <div style="margin-top: 220px;" class="row">
      {% if dich_vu.3.is_active == True %}
      <a href="{% url 'customer:lay-so' 4 %}" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div
          style='background: url("{{ dich_vu.3.image.url }}") center no-repeat; background-size: cover; border: 5px solid #000000; '
          class="box">
          <div style="" class="icon" style="background: #fceef3;"></div>
          <h4 class="title"></h4>
        </div>
      </a>
      {% else %}
      <a href="" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div style='border: 5px solid #000000; text-align: center;' class="box">
          <p class="service-description">{{ dich_vu.3.description |linebreaksbr }}</p>
      </div>
      </a>
      {% endif %}

      {% if dich_vu.4.is_active == True %}
      <a href="{% url 'customer:lay-so' 5 %}" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div
          style='background: url("{{ dich_vu.4.image.url }}") center no-repeat; background-size: cover;border: 5px solid #000000;'
          class="box">
          <div style="" class="icon" style="background: #fceef3;"></div>
          <h4 class="title"></h4>
        </div>
      </a>
      {% else %}
      <a href="" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div style='border: 5px solid #000000; text-align: center;' class="box">
            <p class="service-description">{{ dich_vu.4.description |linebreaksbr }}</p>
        </div>
    </a>
    
 
    
      {% endif %}


      {% if dich_vu.5.is_active == True %}
      <a href="{% url 'customer:lay-so' 6 %}" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div
          style='background: url("{{ dich_vu.5.image.url }}") center no-repeat; background-size: cover;border: 5px solid #000000;'
          class="box">
          <div style="" class="icon" style="background: #fceef3;"></div>
          <h4 class="title"></h4>
        </div>
      </a>
      {% else %}
      <a href="" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div style=' background-size: cover; border: 5px solid #000000; ' class="box">
          
          <p class="service-description">{{ dich_vu.5.description|linebreaksbr }}</p>
       
        </div>
      </a>
      {% endif %}

      {% if dich_vu.6.is_active == True %}
      <a href="{% url 'customer:lay-so' 7 %}" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div
          style='background: url("{{ dich_vu.6.image.url }}") center no-repeat; background-size: cover; border: 5px solid #000000; position: relative;'
          class="box">
          <div style="" class="icon" style="background: #fceef3;"></div>
          <h4 class="title"></h4>
        </div>
        <img class="img-fluid" style="margin:-290px 0 0 400px;width: 100px;"
          src="{% static 'QRcodes/img/file_moi/wc.jpg' %}" alt="">
      </a>
      {% else %}
      <a href="" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div style=' background-size: cover; border: 5px solid #000000; ' class="box">
          <p class="service-description">{{ dich_vu.6.description|linebreaksbr }}</p>

        </div>
        <img class="img-fluid" style="margin:-290px 0 0 400px;width: 100px;"
          src="{% static 'QRcodes/img/file_moi/wc.jpg' %}" alt="">
      </a>
      
      {% endif %}


      {% if dich_vu.2.is_active == True %}
      <a href="{% url 'customer:lay-so' 3 %}" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div
          style='background: url("{{ dich_vu.2.image.url }}") center no-repeat; background-size: cover;border: 5px solid #000000;'
          class="box">
          <div style="" class="icon" style="background: #fceef3;"></div>
          <h4 class="title"></h4>
        </div>
      </a>
      {% else %}
      <a href="" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div style=' background-size: cover; border: 5px solid #000000; ' class="box">
          <p class="service-description">{{ dich_vu.2.description |linebreaksbr  }}</p>

        </div>
      </a>
      {% endif %}

      <div class="col-md-6 col-lg-6 text-center " data-wow-duration="1.4s">
        <div class="box_1">
          <img style="width: 140px;" src="{% static 'QRcodes/img/file_moi/quay.jpg' %}" alt="">

        </div>
      </div>
      {% if dich_vu.7.is_active == True %}
      <a href="{% url 'customer:lay-so' 8 %}" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div
          style='background: url("{{ dich_vu.7.image.url }}") center no-repeat; background-size: cover;border: 5px solid #000000;'
          class="box">
          <div style="" class="icon" style="background: #fceef3;"></div>
          <h4 class="title"></h4>
        </div>
      </a>
      {% else %}
      <a href="" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div style=' background-size: cover; border: 5px solid #000000; ' class="box">
          <p class="service-description">{{ dich_vu.7.description|linebreaksbr }}</p>

        </div>
      </a>
      {% endif %}

      {% if dich_vu.1.is_active == True %}
      <a href="{% url 'customer:lay-so' 2 %}" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div
          style='background: url("{{ dich_vu.1.image.url }}") center no-repeat; background-size: cover;border: 5px solid #000000;'
          class="box">
          <div style="" class="icon" style="background: #fceef3;"></div>
          <h4 class="title"></h4>
        </div>
      </a>
      {% else %}
      <a href="" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div style=' background-size: cover; border: 5px solid #000000; ' class="box">
          <p class="service-description">{{ dich_vu.1.description|linebreaksbr }}</p>

        </div>
      </a>
      {% endif %}
      <div class="col-md-6 col-lg-6 text-center " data-wow-duration="1.4s">
        <div class="box_1">
          <div class="" style="background: #fceef3;"><img style="width: 100px;"
              src="{% static 'QRcodes/img/file_moi/vitri.jpg' %}" alt=""></div>
          <h4 class="title">VỊ TRÍ HIỆN TẠI</h4>
        </div>
      </div>


      {% if dich_vu.8.is_active == True %}
      <a href="{% url 'customer:lay-so' 9 %}" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div
          style='background: url("{{ dich_vu.8.image.url }}") center no-repeat; background-size: cover;border: 5px solid #000000;'
          class="box">
          <div style="" class="icon" style="background: #fceef3;"></div>
          <h4 class="title"></h4>
        </div>
      </a>
      {% else %}
      <a href="" class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
        <div style=' background-size: cover; border: 5px solid #000000; ' class="box">
          <p class="service-description" style="text-align: center; display: flex; align-items: center; justify-content: center;">{{ dich_vu.8.description|linebreaksbr }}</p>

        </div>
      </a>
      {% endif %}

    </div>
  </div>

</section>


<div class="col-md-12 col-lg-12 text-center " data-wow-duration="1.4s">
  <div class="box_1 relative-container">
    <h4 class="title text-center">KHU VỰC BÊN NGOÀI </h4>

  </div>
  <div style="border-top: none;border-left:none" class="inner-frame"></div>
</div>



<!-- End Services Section -->
<!-- Include jQuery -->
<script type="text/javascript">
  function checkEmployeeStatus(employeeId) {
    $.ajax({
      url: `/employee/${employeeId}/get_status/1`,
      type: 'GET',
      dataType: 'json',
      success: function (data) {
        const isEmployeeActive = data.employee_status;
        console.log(`Employee ${employeeId} status: ${isEmployeeActive}`);
        // Check if the status has changed since the last check
        if (isEmployeeActive !== lastEmployeeStatus[employeeId]) {
          lastEmployeeStatus[employeeId] = isEmployeeActive;

          // Update your UI based on the employee status
          // Example: $("#employee_status").text(isEmployeeActive ? "Active" : "Inactive");

          // Set the flag to indicate a change
          shouldReload = true;
        }

        // Gọi lại hàm sau một khoảng thời gian nhất định
        setTimeout(() => checkEmployeeStatus(employeeId), 5000);  // Khoảng thời gian giữa các lần kiểm tra (ví dụ: 5000 ms = 5 giây)
      },
      error: function (error) {
        console.error(`Error checking employee ${employeeId} status:`, error);

        // Nếu có lỗi, thử kiểm tra lại sau một khoảng thời gian
        setTimeout(() => checkEmployeeStatus(employeeId), 5000);  // Khoảng thời gian giữa các lần kiểm tra (ví dụ: 5000 ms = 5 giây)
      },
      timeout: 30000  // Thời gian chờ tối đa (ms), ví dụ: 30 giây
    });
  }

  // Biến global để lưu trạng thái trước đó của nhân viên
  const lastEmployeeStatus = {};
  // Biến để kiểm tra có cần reload trang hay không
  let shouldReload = false;

  // Bắt đầu kiểm tra khi trang được tải cho mỗi employee_id từ 1 đến 9
  for (let employeeId = 1; employeeId <= 9; employeeId++) {
    lastEmployeeStatus[employeeId] = null;  // Initialize the status for each employee
    checkEmployeeStatus(employeeId);
  }

  // Kiểm tra và reload trang nếu cần
  function checkAndReload() {
    if (shouldReload) {
      location.reload();
    } else {
      // Gọi lại hàm sau một khoảng thời gian nhất định
      setTimeout(checkAndReload, 5000);  // Khoảng thời gian giữa các lần kiểm tra (ví dụ: 5000 ms = 5 giây)
    }
  }

  // Gọi hàm kiểm tra và reload ban đầu
  checkAndReload();

</script> 



</body>

</html>


<!-- Trong template của bạn -->
