{% load static %}

<head>
    <meta charset="utf-8">
    <title>Lấy số</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'QRcodes/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'QRcodes/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'QRcodes/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'QRcodes/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'QRcodes/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'QRcodes/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'QRcodes/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'QRcodes/css/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'Qrcodes/img/file_moi/ararlogo-preview.png' %}" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link href="{% static 'QRcodes/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'QRcodes/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'QRcodes/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'QRcodes/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <link href="{% static 'QRcodes/css/variables.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'QRcodes/css/main.css' %}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords"
        content="INTUITIVE, Your design is your passion, Key Features, Pricing Plan, Empire State Building">
    <meta name="description" content="">
    <title>Page 1</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="{% static 'QRcodes/css/nicepage.css' %}" media="screen">

    <script class="u-script" type="text/javascript" src="{% static 'QRcodes/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'QRcodes/js/nicepage.js' %}" defer=""></script>
    <meta name="generator" content="Nicepage 5.11.4, nicepage.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

    <script class="u-script" type="text/javascript" src="{% static 'QRcodes/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'QRcodes/js/nicepage.js' %}" defer=""></script>

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta charset="utf-8">
    <meta name="keywords"
        content="INTUITIVE, Your design is your passion, Key Features, Pricing Plan, Empire State Building">
    <meta name="description" content="">
    <link rel="stylesheet" href=" {% static 'QRcodes/css/nicepage_2.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'QRcodes/css/Page-2.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src=" {% static 'QRcodes/js/jquery_2.js' %}" defer=""></script>
    <script class=" u-script" type="text/javascript" src="{% static 'QRcodes/js/nicepage_2.js' %}" defer=""></script>
    <meta name=" generator" content="Nicepage 5.11.4, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900">

    <link href="{% static 'QRcodes/css/main.css' %}" rel="stylesheet">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">

    <script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "",
  "logo": "images/ararlogo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Page 1">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">

</head>


<header style="background: #bb302a; height: 180px;" id="header">
    <div class="container">
        <div class="row">
            <div class="col-2 logo float-left">
                <a href="{% url 'customer:trang-chu' %}" class="scrollto"><img
                        src="{% static 'Qrcodes/img/file_moi/ararlogo-preview.png' %}" alt="" class="img-fluid"></a>
            </div>
            <div style="width:80px;  " class="col-8 text-center">
                <a href="{% url 'customer:trang-chu' %}" class="scrollto">
                    <img style="border: none; height: 150px; margin: auto;"
                        src="{% static 'Qrcodes/img/file_moi/bienhieu.jpg' %}" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-2 logo float-right">
                <a href="{% url 'customer:trang-chu' %}" class="scrollto"><img style="max-height: 100px; margin: 40px;"
                        src="{% static 'Qrcodes/img/file_moi/logochuxanh.png' %}" alt="" class="img-fluid"></a>
            </div>
        </div>
    </div>
</header>

<body>
    <style>
        .a {
            width: 400px;
            font-weight: 10px;

        }

        h3 {
            margin-top: -40px;
        }

        #success {
            background: green;
        }

        button {
            background-color: cadetblue;
            color: whitesmoke;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-size: 40px;
            font-weight: 500;
            border-radius: 7px;
            padding: 15px 35px;
            cursor: pointer;
            white-space: nowrap;
            margin: 10px;
        }

        table {
            margin: 0 80px 0 80px;

        }

        th {
            font-size: 40px;
            text-align: center;

        }

        td {
            font-size: 30px;
            width: 500px;
        }

        body {


            background-size: 100% 100%;
            max-width: 100%;
        }

        span {
            font-size: 24px
        }

        #services {
            padding: 30px 0 30px 0;
        }

        @media (min-width: 1200px) {
            .container {
                max-width: 2160px
            }
        }
    </style>
    {% if ho_va_ten %}
    <div style="margin-top:180px;" class="container ">
        <div class="row">
            <div class="col-12 text-center">
                <table id="" class="table table-bordered table  mx-auto">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">THÔNG TIN</th>
                            <th scope="col">SỐ THỨ TỰ</th>
                            <th scope="col">DỊCH VỤ SỬ DỤNG</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th scope="row">{{ho_va_ten}}</th>
                            <td scope="row">{{so_thu_tu}}</td>
                            <td scope="row">{{dich_vu}}</td>
                        </tr>
                    </tbody>

                </table>
                
            </div>
        </div>
    </div>
    
    {% else %}

    <div style="margin-top:150px;" class="container ">
        <div class="row">
            <div class="col-12 text-center mt-3 mb-4">
                <h3>QUÉT MÃ QR VÀ LẤY SỐ THỨ TỰ TẠI ĐÂY</h3>
            </div>

            {{thong_bao|safe}}

            <div class="col-12 text-center">
                <button id="jumpButton">QUÉT MÃ QR TẠI ĐÂY</button>
                <form name="" id="my-form" method="post" action="">
                    {% csrf_token %}
                    <input style="width:50px; border:none ; " class="target-input text-center" id="input-field"
                        type="text" name="thong_tin" placeholder="">
                    <!-- <button style="" name="scan_data_1'" id="submit-button" type="submit">Submit</button> -->
                    <button style="display: none;" id="submit-button" class="text-center" name="scan_data_1"
                        type="submit">Quét</button>
                </form>
            </div>

            <div class="col-12 text-center">
                <table id="" class="table table-bordered table  mx-auto">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">THÔNG TIN</th>
                            <th scope="col">SỐ THỨ TỰ</th>
                            <th scope="col">DỊCH VỤ SỬ DỤNG</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th scope="row">{{ho_va_ten}}</th>
                            <td scope="row">{{so_thu_tu}}</td>
                            <td scope="row">{{dich_vu}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    {% endif %}
    <style>
        #countdown-container {
            text-align: center;
            margin: 20px;
        }

        #countdown {
            font-size: 50px;
            font-weight: bold;
            color: #333;
            background-color: #f8f8f8;
            padding: 10px;
            border-radius: 5px;
            display: inline-block;
        }
    </style>

    <div class="col-md-12 text-center">
        <div class="qr-img">
            <button id="chuyenTrangButton">QUAY LẠI TRANG DỊCH VỤ</button>
            <div id="countdown"></div>
            <img src="/media/{{img_name}}" width="250px">


        </div>
    </div>

    


    <script>
        window.onload = function () {
            // Lấy đối tượng input
            var inputElement = document.getElementById('input-field');

            // Đưa con nháy chuột vào ô input
            inputElement.focus();
        };

        document.addEventListener("keydown", function (event) {
            // Check if the key pressed is the letter 'b'
            if (event.key === "Shift") {
                // Simulate a click event on the button
                const button = document.getElementById("jumpButton");
                if (button) {
                    button.click();
                }
            }
        });


        // đổi màu input
        document.addEventListener("DOMContentLoaded", function () {
            const colorInput = document.getElementById("input-field");
            const changeColorButton = document.getElementById("jumpButton");

            changeColorButton.addEventListener("click", function () {
                colorInput.style.backgroundColor = "#33FF33";
            });
        });
        document.addEventListener("DOMContentLoaded", function () {
            const colorInput = document.getElementById("input-field-2");
            const changeColorButton = document.getElementById("jumpButton-2");

            changeColorButton.addEventListener("click", function () {
                colorInput.style.backgroundColor = "#33FF33";
            });
        });
        // Nhảy vào ô input


        const jumpButton = document.getElementById('jumpButton');
        const targetInput = document.querySelector('.target-input');

        jumpButton.addEventListener('click', function () {
            targetInput.focus();
        });


        //
        // Nháy ô input 2
        const jumpButton2 = document.getElementById('jumpButton-2');
        const targetInput2 = document.querySelector('.target-input-2');

        jumpButton2.addEventListener('click', function () {
            targetInput2.focus();
        })

        // đặt tên ô, nhấn nút button request
        const inputField = document.getElementById("input-field");
        const submitButton = document.getElementById("submit-button");
        const form = document.getElementById("my-form");

        inputField.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                submitButton.click();
            }
        });

        submitButton.addEventListener("click", function () {
            form.submit();
        });

        // form 2
        const inputField2 = document.getElementById("input-field-2");
        const submitButton2 = document.getElementById("submit-button-2");
        const form_2 = document.getElementById("my-form-2");

        inputField.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                submitButton2.click();
            }
        });

        submitButton2.addEventListener("click", function () {
            form_2.submit();




        });


    </script>

    <script>

    </script>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<script>
    document.getElementById('my_button').onclick = function () {
        document.getElementById('my_textbox').focus();
    };
</script>

<!-- HTML -->



<script>
    // Thời gian ban đầu là 30 giây
    let remainingTime = {{thoi_gian}};

    // Hiển thị thời gian ban đầu
    updateCountdown();

    // Sử dụng setInterval để cập nhật mỗi giây
    const countdownInterval = setInterval(function () {
        remainingTime -= 1;
        updateCountdown();

        // Khi hết thời gian, chuyển trang
        if (remainingTime <= 0) {
            clearInterval(countdownInterval);
            window.location.href = "{% url 'customer:chon-dich-vu' %}";
        }
    }, 1000);

    // Hàm cập nhật hiển thị countdown
    function updateCountdown() {
        const countdownElement = document.getElementById("countdown");
        countdownElement.innerHTML = ` ${remainingTime} giây`;
    }

    // Lắng nghe sự kiện khi người dùng nhấn nút
    document.getElementById("chuyenTrangButton").addEventListener("click", function () {
        // Điều hướng đến trang 'customer:trang-chu' khi nút được nhấn
        window.location.href = "{% url 'customer:chon-dich-vu' %}";
    });
</script>




</html>