{% load static %}

<head>
  <meta charset="utf-8">
  <title id="pageTitle">Bảng nhân viên (0)</title>



  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'QRcodes/img/file_moi/ararlogo-preview.png' %}" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'QRcodes/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'QRcodes/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'QRcodes/css/style.css'%}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="{% static 'QRcodes/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'QRcodes/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <link href="{% static 'QRcodes/css/variables.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'QRcodes/css/main.css' %}" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords"
    content="INTUITIVE, Your design is your passion, Key Features, Pricing Plan, Empire State Building">
  <meta name="description" content="">
  <title>Page 1</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- SweetAlert2 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>

  <link rel="stylesheet" href="{% static 'QRcodes/css/nicepage.css' %}" media="screen">

  <script class="u-script" type="text/javascript" src="{% static 'QRcodes/js/jquery.js' %}" defer=""></script>
  <script class="u-script" type="text/javascript" src="{% static 'QRcodes/js/nicepage.js' %}" defer=""></script>
  <meta name="generator" content="Nicepage 5.11.4, nicepage.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

  <script class="u-script" type="text/javascript" src="{% static 'QRcodes/js/jquery.js' %}" defer=""></script>
  <script class="u-script" type="text/javascript" src="{% static 'QRcodes/js/nicepage.js' %}" defer=""></script>

  <!-- SweetAlert2 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  <meta charset="utf-8">
  <meta name="keywords"
    content="INTUITIVE, Your design is your passion, Key Features, Pricing Plan, Empire State Building">
  <meta name="description" content="">
  <link rel="stylesheet" href=" {% static 'QRcodes/css/nicepage_2.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'QRcodes/css/Page-2.css' %}" media="screen">
  <script class="u-script" type="text/javascript" src=" {% static 'QRcodes/js/jquery_2.js' %}" defer=""></script>
  <script class=" u-script" type="text/javascript" src="{% static 'QRcodes/js/nicepage_2.js' %}" defer=""></script>
  <meta name=" generator" content="Nicepage 5.11.4, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900">

  <link href="{% static 'QRcodes/css/main.css' %}" rel="stylesheet">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">

  <script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "",
  "logo": "images/ararlogo.png"
}</script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="Page 1">
  <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
  <!-- <script src="https://code.responsivevoice.org/responsivevoice.js?key=Wh4HWdjW"></script> -->


</head>


<header style="background:  #cd181e; height: 120px;" id="header">
  <div class="container">
    <div class="row">
      <div class="col-2 logo float-left">
        <a href="{% url 'customer:trang-chu' %}" class="scrollto"><img style='margin: 20px 0;'
            src="{% static 'QRcodes/img/file_moi/ararlogo-preview.png' %}" alt="" class="img-fluid"></a>
      </div>
      <div style="width: 80px; ;" class="col-8 text-center mx-auto">
        <a href="{% url 'customer:trang-chu' %}" class="">
            <img style='margin: -10px 0px 0 -400px; max-height: 100px;' src="{% static 'QRcodes/img/file_moi/logo.png' %}" alt="" class="img-fluid">
        </a>
        <span style="color: #FFCB05; font-family: 'Be Vietnam Pro'; position: absolute; top: 0; ">
            BỘ PHẬN TIẾP NHẬN VÀ TRẢ KẾT QUẢ 
            <br> PHƯỜNG TÂN THỚI HÒA 
        </span>
      </div>  
      <div class="col-2 logo float-right">
        <a href="{% url 'customer:trang-chu' %}" class="scrollto"><img style="max-height: 90px; margin: 0px 0 0 100px;"
            src="{% static 'QRcodes/img/file_moi/logochuxanh.png' %}" alt="" class="img-fluid float-right"></a>
      </div>
    </div>
  </div>
</header>


<body>
  <style>
    img {
      max-width: 100%;
      height: auto;
    }

    th {
      font-size: 20px;
      text-align: center;

    }

    td {
      font-size: 20px;
      width: 500px;
    }

    div.scroll {
      background-color: white;
      width: 600px;
      height: 150px;
      overflow: auto;
      text-align: justify;
      padding: 20px;
    }

    body {


      background-size: 100% 100%;
      max-width: 100%;
    }

    span {
      font-size: 24px
    }

    #services {
      padding: 30px 0 30px 0;
    }



    button {
      background-color: rgb(50, 140, 165);
      color: whitesmoke;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-size: 15px;
      font-weight: 50;
      border-radius: 7px;
      padding: 15px 35px;
      cursor: pointer;
      white-space: nowrap;
      margin: 10px;


    }


    @media (min-width: 1200px) {
      .container {
        max-width: 2160px
      }
    }

    .customer-actions {
      display: flex;
      align-items: center;
    }

    .read-button {
      background-color: #4CAF50;
      /* Màu nền xanh lá cây */
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 10px;
    }

    .status-form {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }

    .status-input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
    }

    .active-status {
      color: #ffffff;
      background-color: #28a745;
      /* Màu nền cho trạng thái hoạt động */
      padding: 5px 10px;
      border-radius: 5px;
    }

    .inactive-status {
      color: #ffffff;
      background-color: #dc3545;
      /* Màu nền cho trạng thái không hoạt động */
      padding: 5px 10px;
      border-radius: 5px;
    }

    .employee-info {
      font-family: Arial, sans-serif;
      /* Chọn font chữ */
      color: #333;
      /* Chọn màu chữ */
      font-size: 20px;
      /* Chọn kích cỡ font chữ */
      line-height: 1.5;
      /* Chọn độ dài dòng */
    }

    /* */

    /* Định dạng cho bảng */
    #waitingListTable {
      width: 100%;
      border-collapse: collapse;
    }

    /* Định dạng cho hàng tiêu đề */
    #waitingListTable th {
      background-color: #f2f2f2;
      border: 1px solid #dddddd;
      padding: 8px;
      text-align: left;
    }

    /* Định dạng cho các ô dữ liệu */
    #waitingListTable td {
      border: 1px solid #dddddd;
      padding: 8px;
    }

    /* Định dạng cho các hàng xen kẽ */
    #waitingListTable tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    /* Định dạng khi di chuột qua các ô */
    #waitingListTable tr:hover {
      background-color: #f2f2f2;
    }

    .table-bordered tbody tr {
      background-color: #3f0202;
      /* Màu nền của tất cả các hàng */
    }

    /* Trong tập tin CSS */
    .gray-background {
      background-color: #f2f2f2 !important;
    }

    .blue-background {
      background-color: #cce6ff !important;
    }
  </style>



  <div style="margin-top: 100px;" class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
    <div class="u-gutter-0 u-layout">
      <div class="container ">

        <div class="col-md-12 u-container-style u-image u-layout-cell u-shape-rectangle u-size-100 u-image-1"
          data-image-width="900" data-image-height="562" data-animation-name="customAnimationIn"
          data-animation-duration="1500">
          <div class="u-container-layout u-container-layout-1">
            <section id="services" class="services">

              <div class="row text-center">
                <div class="col-4 d-flex align-items-center">
                  <div class="d-flex flex-column flex-md-row align-items-center mr-md-3">
                    <p class="mb-0 mr-md-3">Trạng thái: <span id="status"
                        class="{% if trang_thai == 'Hoạt động' %}active-status{% else %}inactive-status{% endif %}">{{trang_thai}}</span>
                    </p>
                    <form name="scan_data_1" method="post" action="">
                      {% csrf_token %}
                      <button style="margin-top: 40px;" name="scan_data_1" id="toggleStatus"
                        class="btn btn-primary">Nhấn</button>
                    </form>
                  </div>
                </div>


                <div class="col-4">
                  <h4>Danh Sách Khách Hàng Chờ <br>
                    TỔNG SỐ KHÁCH HÀNG ĐANG CHỜ: {{dem}}

                  </h4>
                </div>
                <div class="col-4 text-center">
                  <span class="employee-info">
                    CÁN BỘ: {{ten_nhan_vien}} <br>
                    VỊ TRÍ: {{loai_dich_vu}}
                  </span>
                </div>
                <div class="col-md-4 mt-5 ms-2  ">          
                    <span>Danh sách ưu tiên</span>
                </div>
                <div class="col-md-4  ">
                  <button class="" type="" onClick="refreshUrl()">
                    Cập nhật danh sách
                  </button>
                </div>

                <!-- Bảng thứ nhất với màu nền xám nhạt -->
                <!-- Bảng thứ nhất với màu nền xám nhạt -->
                <div class="table-responsive gray-background">
                  <table class="table table-bordered mb-0">
                    <!-- Đầu bảng -->
                    <thead>
                      <tr>
                        <th style="color: #dc3545;" scope="col">HỌ VÀ TÊN</th>
                        <th style="color: #dc3545;" scope="col">SỐ THỨ TỰ</th>
                        <th style="color: #dc3545;" scope="col">ĐÁNH GIÁ</th>
                        <th style="color: #dc3545;" scope="col">TRẠNG THÁI</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for thong_tin in danh_sach_cho %}
                      <tr>
                        <td>{{thong_tin.name }}</td>
                        <td>{{thong_tin.ticket_number}}</td>
                        <td>
                          <a type="button"
                            href="{% url 'customer:danh_gia' thong_tin.employee thong_tin.ticket_number  %}">Đánh
                            giá</a>
                        </td>
                        <td style="text-align: center;">
                          <textarea style="display:none" id="textInput_{{ thong_tin.ticket_number }}"
                            placeholder="Nhập văn bản cần đọc">Mời ông bà {{ thong_tin.name }} số thứ tự {{
                      thong_tin.ticket_number }} đến quầy số {{ thong_tin.employee }}</textarea>
                          <div class="customer-actions">
                            <button class="read-button" onclick="readText('{{ thong_tin.ticket_number }}')">Đọc
                            </button>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

                <!-- Khoảng trắng -->
              

                <div class="col-md-4 mt-5 ms-0.2  ">          
                  <span>Danh sách chờ    </span>
              </div>

                <!-- Bảng thứ hai với màu nền xanh nhạt -->
                <div class="table-responsive blue-background mt-3">
                  <table class="table table-bordered table-striped mb-0">
                    <!-- Bảng tiếp theo -->
                    <thead>
                      <tr >
                        <th  scope="col">HỌ VÀ TÊN</th>
                        <th scope="col">SỐ THỨ TỰ</th>
                        <th scope="col">ĐÁNH GIÁ</th>
                        <th scope="col">TRẠNG THÁI</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for customer in khach_hang_cho %}
                      <tr>
                        <td>{{customer.name }}</td>
                        <td>{{customer.ticket_number}}</td>
                        {{customer.assigned_service_id}}
                        <td>
                          <a type="button"
                            href="{% url 'customer:danh_gia' customer.employee_id customer.ticket_number  %}">{{customer.feedback}}</a>
                        </td>
                        <td style="text-align: center;">
                          <textarea style="display:none" id="textInput_{{ customer.ticket_number }}"
                            placeholder="Nhập văn bản cần đọc">Mời ông bà {{ customer.name }} số thứ tự {{
                      customer.ticket_number }} đến quầy số {{ customer.employee_id }}</textarea>
                          <div class="customer-actions">
                            <button class="read-button" onclick="readText('{{ customer.ticket_number }}')">Đọc</button>
                            <form class="status-form" method="post"
                              action="{% url 'customer:move_to_waiting_list' customer.ticket_number  %}">
                              {% csrf_token %}
                              <input type="submit" class="status-input" name="trang_thai"
                                value="Ưu tiên">
                            </form>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>


              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hiển thị thông tin về dịch vụ và số thứ tự đầu tiên -->



</body>



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  function readText(ticketNumber) {
    var textareaId = "textInput_" + ticketNumber;
    var textarea = document.getElementById(textareaId);

    // Lấy giá trị từ ô <textarea>
    var text = textarea.value;
    console.log(text);

    // Lấy CSRF token từ trang
    var csrfTokenElement = document.getElementsByName('csrfmiddlewaretoken')[0];
    var csrf_token = csrfTokenElement ? csrfTokenElement.value : '';

    $.ajax({
      type: 'POST',
      url: "{% url 'customer:text_to_speech' %}", // Điều chỉnh đường dẫn phù hợp với URL của bạn
      data: { 'text': text, 'csrfmiddlewaretoken': csrf_token },
      success: function (data) {
        // Tạo một đối tượng audio và phát nó
        var audio = new Audio();
        audio.src = URL.createObjectURL(new Blob([data], { type: 'audio/mpeg' }));
        audio.play();

      },
      error: function (error) {
        console.log(error);
        ;
      }
    });
  }
</script>

<!-- keydown-prevent -->
<script>
  // Disable page reload and F5 key
  document.addEventListener("keydown", function (e) {
    if (e.key === "F5" || (e.key === "r" && e.ctrlKey)) {
      e.preventDefault();
    }
  });

  // Disable context menu (right-click)
  document.addEventListener("contextmenu", function (e) {
    e.preventDefault();
  });
</script>
<!--  -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- refrest url -->
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    // Gọi hàm refreshUrl() sau 30 giây
    setTimeout(refreshUrl, 100000);  // 30 giây = 30000 ms
  });

  function refreshUrl() {
    // Thay đổi URL của trang
    window.location.href = window.location.href;
  }
</script>
<!--  -->


<script>
  var currentCount = {{ dem }}; // Lưu trữ giá trị count hiện tại

  // Hàm này cập nhật tiêu đề của trang với biến đếm mới và làm cho tiêu đề nhấp nháy liên tục cho đến khi biến đếm = 0
  function updateTitle(count) {
    document.title = "Có " + count + " người dân cần phục vụ ";
    if (count === 0) {
      stopBlinking(); // Dừng nhấp nháy nếu biến đếm là 0
    } else {
      blinkTitle(); // Tiếp tục nhấp nháy nếu biến đếm khác 0
    }
  }

  // Hàm này làm cho tiêu đề nhấp nháy
  function blinkTitle() {
    var pageTitle = document.getElementById("pageTitle");
    var titleText = pageTitle.innerText;
    var isBlinking = false;

    blinkInterval = setInterval(function () {
      pageTitle.innerText = isBlinking ? titleText : "Vui lòng kiểm tra"; // Thay đổi tiêu đề thành nội dung khác khi nhấp nháy
      isBlinking = !isBlinking;
    }, 500); // Thay đổi giữa hiển thị và ẩn tiêu đề mỗi 500ms
  }

  // Hàm này dừng nhấp nháy
  function stopBlinking() {
    clearInterval(blinkInterval); // Dừng vòng lặp nhấp nháy
    var pageTitle = document.getElementById("pageTitle");
    pageTitle.innerText = "Bảng nhân viên (0)"; // Khôi phục tiêu đề ban đầu
  }

  // Mô phỏng việc cập nhật biến đếm và gọi hàm updateTitle
  var count = {{ dem }}; // Thay đổi giá trị này thành biến đếm của bạn
  var blinkInterval; // Biến toàn cục để lưu trữ ID của vòng lặp nhấp nháy
  updateTitle(count);
</script>



{% for service, orders in service %}
<!-- Notification -->
<script>

  // Hàm này sẽ hiển thị thông báo với biến đếm đã được cập nhật và thay đổi màu của thông báo
  function showNotification(count) {
    if (count === 0) {
      return; // Không hiển thị thông báo nếu biến đếm bằng 0
    }
    if (!("Notification" in window)) {
      alert("Trình duyệt của bạn không hỗ trợ thông báo.");
    } else if (Notification.permission === "granted") {
      var notification = new Notification("", {
        body: "QUẦY: {{ service }}\nSố thứ tự đang chờ là : {{ orders.0 }}",
        icon: '{% static 'QRcodes/img/file_moi/logochuxanh.png' %}', // Thay đổi 'notification_icon.png' thành đường dẫn của biểu tượng thông báo của bạn
        // Thay đổi màu thông báo thành đỏ
        color: 'red'
          });

  }

  else if (Notification.permission !== "denied") {
    Notification.requestPermission().then(function (permission) {
      if (permission === "granted") {
        var notification = new Notification("Danh Sách Khách Hàng Chờ", {
          body: "TỔNG SỐ KHÁCH HÀNG ĐANG CHỜ: " + count,
          icon: '{% static 'QRcodes/img/file_moi/logochuxanh.png' %}', // Thay đổi 'notification_icon.png' thành đường dẫn của biểu tượng thông báo của bạn
          // Thay đổi màu thông báo thành đỏ
          color: 'red'
                  });
  }
          });
      }
  }

  // Gọi hàm showNotification với giá trị đếm mới
  var count = {{ dem }}; // Thay đổi giá trị này thành biến đếm của bạn
  showNotification(count);

  // Thiết lập hẹn giờ để gửi thông báo tiếp theo sau mỗi 10 giây
  setTimeout(function () {
    // Gọi lại hàm showNotification với giá trị đếm mới sau mỗi 10 giây
    showNotification(count);
  }, 15000); // 20000 milliseconds = 20 seconds
</script>


<script>
  let priorityList = [];

  // Hàm để thêm khách hàng vào danh sách ưu tiên tạm thời
  function addToPriorityList(name, ticketNumber) {
    // Kiểm tra xem khách hàng đã tồn tại trong danh sách ưu tiên chưa
    let existingCustomer = priorityList.find(customer => customer.ticketNumber === ticketNumber);
    if (!existingCustomer) {
      // Nếu chưa tồn tại, thêm vào danh sách ưu tiên
      priorityList.push({ name: name, ticketNumber: ticketNumber });
      // In ra thông báo hoặc làm gì đó để thông báo cho nhân viên
      console.log(`${name} đã được thêm vào danh sách ưu tiên.`);
    } else {
      // Nếu đã tồn tại, thông báo rằng khách hàng đã có trong danh sách ưu tiên
      console.log(`${name} đã có trong danh sách ưu tiên.`);
    }
  }

</script>

{% endfor %}



</body>

</html>



<!-- Template Main Javascript File -->
<script src="{% static 'QRcodes/js/main.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'QRcodes/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'QRcodes/lib/jquery/jquery-migrate.min.js' %} "></script>
<script src="{% static 'QRcodes/lib/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
<script src="{% static 'QRcodes/lib/easing/easing.min.js' %} "></script>
<script src="{% static 'QRcodes/lib/mobile-nav/mobile-nav.js' %}"></script>
<script src="{% static 'QRcodes/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'QRcodes/lib/waypoints/waypoints.min.js' %} "></script>
<script src="{% static 'QRcodes/lib/counterup/counterup.min.js' %} "></script>
<script src="{% static 'QRcodes/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'QRcodes/lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'QRcodes/lib/lightbox/js/lightbox.min.js' %}"></script>
<script src="{% static 'QRcodes/contactform/contactform.js' %}"></script>

<!-- Vendor JS Files -->
<script src="{% static 'QRcodes/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'QRcodes/vendor/aos/aos.js' %}"></script>
<script src="{% static 'QRcodes/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'QRcodes/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'QRcodes/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'QRcodes/vendor/php-email-form/validate.js' %}"></script>




</html>
