{% extends 'QRcodes/_Master_1.html' %}
{%load static%}
{% block content_1 %}


<body>
  <style>
   
      .a {
          width: 400px;
          font-weight: 10px;

      }

      h3 {
          margin-top: -40px;
      }

      #success {
          background: green;
      }

      button {
          background-color: cadetblue;
          color: whitesmoke;
          border: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          font-size: 8px;
          font-weight: 500;
          border-radius: 7px;
          padding: 15px 35px;
          cursor: pointer;
          white-space: nowrap;
          margin: 10px;
      }

      table {
          margin: 0 80px 0 80px;
      }
  </style>


  

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-12 wow bounceInUp" data-wow-duration="1.4s">
      <div style="margin: 150px 0 0 0;" class="container">
        <h3 class="text-center">
          QUÉT MÃ QR TỪ CĂN CƯỚC HOẶC VNEID
        </h3>

        <div class="text-center">
          <button id="jumpButton">Quét</button>

          <form name="" id="my-form" method="post" action="{% url 'qrcode:don-1-nguoi' %}">
            {% csrf_token %}
            <input style="width:50px; border:none ; " class="target-input text-center" id="input-field" type="text"
              name="thong_tin" placeholder="">
            <!-- <button style="" name="scan_data_1'" id="submit-button" type="submit">Submit</button> -->
            <button style="display: none;" id="submit-button" class="text-center" name="scan_data_1"
              type="submit">Quét</button>
          </form>
    


        <table class="table table-bordered text-center ">
          <thead>
            <tr>
              <th scope="col">Thông tin</th>
              <th class="" scope="col">Người yêu cầu</th>
            </tr>
          </thead>
          {% with khach_hang=request.session.scan_data_1 %}

          <tbody style="text-align: left;">
            <tr>
              <th class="a" scope="row">Giấy tờ tùy thân </th>
              <td>Căn cước công dân số {{khach_hang.so_cccd}}</td>
           </tr>

            <tr>

              <th scope="row">Họ và tên</th>
              <td>{{khach_hang.ho_va_ten}} </td>

            </tr>
            <tr>
              <th class="a" scope="row">Ngày, tháng, năm sinh</th>
              <td>{{khach_hang.ngay_sinh}}</td>

            </tr>
            <tr>
              <th class="a" scope="row">Giới tính</th>
              <td>{{khach_hang.gioi_tinh}}</td>

            </tr>
            <tr>
              <th class="a" scope="row">Quốc tịch</th>
              <td>Việt Nam</td>

            </tr>
            <tr>
              <th class="a" scope="row">Nơi cư trú (4) </th>
              <td>{{khach_hang.dia_chi}}</td>

            </tr>
            <tr>
              <th class="a" scope="row">Ngày cấp CCCD </th>
              <td>{{khach_hang.ngay_cap}}</td>

            </tr>

          </tbody>
          {% endwith %}

        </table>

        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <a href="{% url 'qrcode:chon-don' %}">
                <button>
                  Xác nhận thông tin
                </button>
              </a>


            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

</div>

</div>
</body>
{% endblock %}


<script>

  // đổi màu input
  document.addEventListener("DOMContentLoaded", function () {
      const colorInput = document.getElementById("input-field");
      const changeColorButton = document.getElementById("jumpButton");

      changeColorButton.addEventListener("click", function () {
          colorInput.style.backgroundColor = "#33FF33";
      });
  });
  document.addEventListener("DOMContentLoaded", function () {
      const colorInput = document.getElementById("input-field-2");
      const changeColorButton = document.getElementById("jumpButton-2");

      changeColorButton.addEventListener("click", function () {
          colorInput.style.backgroundColor = "#33FF33";
      });
  });
  // Nhảy vào ô input


  const jumpButton = document.getElementById('jumpButton');
  const targetInput = document.querySelector('.target-input');

  jumpButton.addEventListener('click', function () {
      targetInput.focus();
  });


  //
  // Nháy ô input 2
  const jumpButton2 = document.getElementById('jumpButton-2');
  const targetInput2 = document.querySelector('.target-input-2');

  jumpButton2.addEventListener('click', function () {
      targetInput2.focus();
  })

  // đặt tên ô, nhấn nút button request
  const inputField = document.getElementById("input-field");
  const submitButton = document.getElementById("submit-button");
  const form = document.getElementById("my-form");

  inputField.addEventListener("keypress", function (event) {
      if (event.key === "Enter") {
          submitButton.click();
      }
  });

  submitButton.addEventListener("click", function () {
      form.submit();
  });

  // form 2
  const inputField2 = document.getElementById("input-field-2");
  const submitButton2 = document.getElementById("submit-button-2");
  const form_2 = document.getElementById("my-form-2");

  inputField.addEventListener("keypress", function (event) {
      if (event.key === "Enter") {
          submitButton2.click();
      }
  });

  submitButton2.addEventListener("click", function () {
      form_2.submit();
  });

</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"></script>

<script>
document.getElementById('my_button').onclick = function () {
document.getElementById('my_textbox').focus();
};
</script>

